
<!DOCTYPE html>
<html lang="en" ng-app="myApp">


<!-- Mirrored from mannatthemes.com/dastone/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 04 Aug 2021 07:05:02 GMT -->
<head>
    <meta charset="utf-8" />
    <title>Trang chủ DVC Xã Phường</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/logo-dvc.png">

    <!-- jvectormap -->
    @*<link href="../plugins/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">*@

    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

    @*<link href="../plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />*@
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
    </script>
    <script>
       window.currentHoTen = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Session["HoTen"] ?? "Khách"));
        window.currentUserRoles = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Session["UserRoles"] ?? new int[0]));
        window.currentUsername = '@(Session["Username"] ?? "")';
        window.allRoles = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.AllRoles ?? new object[0]));
    </script>

</head>

<body class="" ng-controller="LayoutJs">
    <!-- Alert notification -->
    <div ng-if="alert.show" class="alert alert-{{alert.type}} alert-dismissible fade show" role="alert" style="position:fixed;top:20px;right:20px;z-index:9999;">
        {{alert.message}}
        <button type="button" class="btn-close" ng-click="alert.show=false"></button>
    </div>
    <!-- Left Sidenav -->
    <ul class="left-sidenav">
        <!-- LOGO -->
        <div class="brand">
            <a href="@Url.Action("Index", "Home")" class="logo">
                <span>
                    <img src="~/assets/images/logo-dvc.png" alt="logo-small" class="logo-dvc">
                </span>
                <span>
                    HÀNH CHÍNH CÔNG
                </span>
            </a>
        </div>
        <!--end logo-->
        <ul class="menu-content h-100" data-simplebar>
            <ul class="metismenu left-sidenav-menu">
                <li class="menu-label mt-0">Main</li>
                <li>
                    <a href="javascript: void(0);">   <i class="fa fa-folder-open align-self-center menu-icon"></i><span>Hồ sơ</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li class="nav-item" ng-if="hasRole(1,2,6)">
                            <a href="@Url.Action("Index", "HoSo")" class="nav-link">Nộp hồ sơ</a>
                        </li>
                        <li class="nav-item" ng-if="hasRole(1,4)">
                            <a href="@Url.Action("PhanCong", "HoSo")" class="nav-link">Phân công hồ sơ</a>
                        </li>
                        <li class="nav-item" ng-if="hasRole(1,3)">
                            <a href="@Url.Action("XuLy", "HoSo")" class="nav-link">Xử lý hồ sơ</a>
                        </li>
                        <li class="nav-item" ng-if="hasRole(1,4)">
                            <a href="@Url.Action("DuyetKetQua", "HoSo")" class="nav-link">Duyệt kết quả xử lý hồ sơ</a>
                        </li>
                        <li class="nav-item" ng-if="hasRole(1,5)">
                            <a href="@Url.Action("TraKetQua", "HoSo")" class="nav-link">Trả kết quả hồ sơ</a>
                        </li>
                        <li class="nav-item" ng-if="hasRole(1,2)">
                            <a href="@Url.Action("HoSoSuaDoiBoSung", "HoSo")" class="nav-link">Hồ sơ sửa đổi bổ sung</a>
                        </li>
                        <li class="nav-item" ng-if="hasRole(1)">
                            <a href="@Url.Action("QuanLyHoSo", "HoSo")" class="nav-link">Quản lý hồ sơ</a>
                        </li>
                        
                    </ul>

                </li>

                <li>
                    <a href="javascript: void(0);">  <i class="fa fa-list-alt align-self-center menu-icon"></i><span>Quản lý danh mục</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="false">

                        <li class="nav-item" ng-if="hasRole(1)">
                            <a href="@Url.Action("Index", "PhongBan")" class="nav-link">Phòng ban</a>
                        </li>
                        <li class="nav-item" ng-if="hasRole(1)">
                            <a href="@Url.Action("Index", "LinhVuc")" class="nav-link">Lĩnh vực</a>
                        </li>
                        <li class="nav-item" ng-if="hasRole(1)">
                            <a href="@Url.Action("Index", "LoaiHoSo")" class="nav-link">Loại hồ sơ</a>
                        </li>

                </li>
            </ul>

            </li>

            <li>
                <a href="javascript: void(0);"> <i class="fa fa-cogs align-self-center menu-icon"></i><span>Quản trị hệ thống</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="nav-second-level" aria-expanded="false">

                    <li class="nav-item" ng-if="hasRole(1)">
                        <a href="@Url.Action("Index", "User")" class="nav-link">Người dùng</a>
                    </li>
                    <li class="nav-item" ng-if="hasRole(1)">
                        <a href="@Url.Action("PhanQuyen", "User")" class="nav-link">Phân quyền người dùng</a>
                    </li>
                </ul>

            </li>

        </ul>
        </ul>
    </ul>

    <div class="page-wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- Navbar -->
            <nav class="navbar-custom">
                <ul class="list-unstyled topbar-nav float-end mb-0">


                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-bs-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <span class="ms-1 nav-user-name hidden-sm">{{currentHoTen}}</span>

                            <img src="~/assets/images/users/user-5.jpg" alt="profile-user" class="rounded-circle thumb-xs" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#userInfoModal">
                                <i data-feather="user" class="align-self-center icon-xs icon-dual me-1"></i> Thông tin cá nhân
                            </a>

                            <div class="dropdown-divider mb-0"></div>
                            <a class="dropdown-item" href="#" ng-click="logout(); $event.preventDefault();">
                                <i data-feather="power" class="align-self-center icon-xs icon-dual me-1"></i> Đăng xuất
                            </a>

                        </div>
                    </li>
                </ul><!--end topbar-nav-->

                <ul class="list-unstyled topbar-nav mb-0">
                    <li>
                        <button class="nav-link button-menu-mobile">
                            <i data-feather="menu" class="align-self-center topbar-icon"></i>
                        </button>
                    </li>

                </ul>
            </nav>
            <!-- end navbar-->
        </div>
        <!-- Top Bar End -->
        <!-- Page Content-->
        <div class="page-content">
            <div class="container-fluid">
                <!-- Page-Title -->
                <!--end row-->
                <!-- end page title end breadcrumb -->
                <div class="row">
                    @RenderBody()
                </div><!--end row-->
                <!--end row-->
                <!--end row-->


            </div><!-- container -->
            <!-- Modal Thông tin cá nhân -->
            <div class="modal fade" id="userInfoModal" tabindex="-1" aria-labelledby="userInfoModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="userInfoModalLabel">Thông tin cá nhân</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Họ tên:</strong> {{currentHoTen}}</p>
                            <p><strong>Tên đăng nhập:</strong> {{currentUsername}}</p>
                            @*<p><strong>Role:</strong> {{currentUserRoles}}</p>*@


                            <!-- Thêm các thông tin khác nếu cần -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>


            <footer class="footer text-center text-sm-start">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script> Dastone <span class="text-muted d-none d-sm-inline-block float-end">
                    Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes
                </span>
            </footer><!--end footer-->
        </div>
        <!-- end page content -->
    </div>
    <!-- end page-wrapper -->
    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/metismenu.min.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/js/simplebar.min.js"></script>
    <script src="~/assets/js/moment.js"></script>
    @*<script src="../plugins/daterangepicker/daterangepicker.js"></script>*@

    @*<script src="../plugins/apex-charts/apexcharts.min.js"></script>
        <script src="../plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
        <script src="../plugins/jvectormap/jquery-jvectormap-us-aea-en.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="~/assets/pages/jquery.analytics_dashboard.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
    <!-- File Js dùng chung -->
    <script src="~/assets/js/common.js"></script>
    <script src="~/assets/js/AlertService.js"></script>
    <script src="~/ScriptController/LayoutJs.js"></script>
</body>


<!-- Mirrored from mannatthemes.com/dastone/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 04 Aug 2021 07:05:31 GMT -->
</html>